*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.signup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-box {
  max-width: 515px;
  background-color: #fff;
  border: 3px solid #F2F2F2;
  padding: 60px;
  margin: 60px;
}

@media (max-width: 768px) {
  .signup-box {
    margin: 0;
  }
}

.signup-header {
  text-align: center;
}

.signup-main-text {
  color: #312F4F;
  font-size: 22px;
}

.signup-form-label {
  font-size: 16px;
}

.signup-form-input {
  border: 1px #B6B9D0 solid;
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 15px;
  color: #696D8C;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.signup-form-input:focus {
  outline: 0;
}

.signup-password-input {
  margin-bottom: 0;
}

.green.signup-password-input {
  border: 1px #17D499 solid;
}

.yellow.signup-password-input,
.red.signup-password-input {
  border: 1px #F79682 solid;
}

.signup-form-input::placeholder {
  color: #9499B3;
}

.signup-form-label {
  font-size: 16px;
  color: #696D8C;
  line-height: 26px;
}

.signup-form-submit {
  height: 52px;
  background-color: #17D499;
  width: 100%;
  font-size: 18px;
  color: #ffffff;
  border: 0;
}

.meter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.meter-item {
  width: 32%;
  height: 8px;
  border-radius: 10px;
  background-color: #EAEAF4;
}

.rules-list {
  padding: 0;
  margin: 20px 0;
}

.rules-list li {
  display: block;
  font-size: 16px;
  color: #696D8C;
  line-height: 32px;
}

.rules-list li:before {
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #EAEAF4;
}

.rules-list li.valid:before {
  background-color: #1FE6A8;
}

.rules-list li.invalid:before {
  background-color: #F79682;
}

.green > .meter-item {
  background-color: #1FE6A8;
}

.yellow > .meter-item:nth-child(1),
.yellow > .meter-item:nth-child(2) {
  background-color: #F7BC1C;
}

.red > .meter-item:nth-child(1) {
  background-color: #F79682;
}
